<div>
  <div class="join join-vertical centrocrear lg:join-horizontal">
    <button routerLink="/computadoras" class="btn join-item btn-secondary">Computadoras</button>
    <button routerLink="/prestamistas" class="btn join-item btn-secondary">Prestamistas</button>
    <button routerLink="/prestamos" class="btn join-item btn-secondary">Prestamos</button>
  </div>
  <div class="text-center centro lg:text-left">
    <h1 class="text-5xl font-bold">Prestamistas</h1>
  </div>
  <div class="centrocrear">
    <label for="my_modal_6" class="btn bg-secondary">Crear</label>
    <input type="checkbox" id="my_modal_6" class="modal-toggle" />
    <div class="modal">
      <div class="modal-box">
        <form (ngSubmit)="AgregarDato()">
          <h3 class="font-bold text-lg">Creación de Prestamistas</h3>
          <p class="py-4">Nombre:</p>
          <input class="input input-secondary w-full" type="text" name="name" [(ngModel)]="nuevaPrestamista.name">
          <p class="py-4">Identificación:</p>
          <input class="input input-secondary w-full" type="text" name="identificacion" [(ngModel)]="nuevaPrestamista.identificacion">
          <div class="modal-action text-base-100">
            <label for="my_modal_6" class="btn">Cerrar</label>
            <button type="submit" class="btn bg-secondary">Crear</button>
          </div>
        </form>
      </div>
      <label class="modal-backdrop" for="my_modal_6">Close</label>
    </div>
  </div>
  <div class="card-body overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Identificación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prestamista of datos" class="hover">
          <td>{{ prestamista._id }}</td>
          <td>{{ prestamista.name }}</td>
          <td>{{ prestamista.identificacion }}</td>
          <td>
            <label for="my_modal_{{prestamista._id}}" class="btn bg-secondary">Editar</label>
            <input type="checkbox" id="my_modal_{{prestamista._id}}" class="modal-toggle" />
            <div class="modal">
              <div class="modal-box">
                <form>
                  <h3 class="font-bold text-lg">Edición de Prestamistas</h3>
                  <p class="py-4">Nombre:</p>
                  <input class="input input-secondary w-full" type="text" name="name" [(ngModel)]="prestamista.name">
                  <p class="py-4">Identificación:</p>
                  <input class="input input-secondary w-full" type="text" name="identificacion" [(ngModel)]="prestamista.identificacion">
                  <div class="modal-action text-base-100">
                    <label for="my_modal_{{prestamista._id}}" class="btn">Cerrar</label>
                    <button (click)="ModificarDatos(prestamista)" class="btn bg-secondary">Editar</button>
                  </div>
                </form>
              </div>
              <label class="modal-backdrop" for="my_modal_{{prestamista._id}}">Close</label>
            </div>
            <button (click)="EliminarDatos(prestamista._id)" class="btn btn-error">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
