@tailwind base;
@tailwind components;
@tailwind utilities;


.centro{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
.centrocrear{
    margin-top: 1%;
    display: flex;
    justify-content: center;
}
